nav{
    background: #000;
}

.nav-wrapper{
    padding: 14px 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN */
.nav-main ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-main li{
    padding: 0 18px 0 24px;
    list-style-type: none;
    position: relative;
}

.nav-main li:first-child{
    padding-left: 0;
}

.nav-main li:not(:last-child)::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: #333;
    top: 0;
    right: -1px;
}

.nav-main li > div{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    transition: color .3s;
}

.nav-main li > div:hover{
    color: #F29C06;
}

.nav-main li span{
    font-size: 24px;
    margin-right: 4px;
}

.nav-main li svg{
    height: 16px;
    width: auto;
    transform: translateY(-2px);
}

.nav-main li svg path{
    fill: #97A800;
}

/* RESUME */
.nav-resume ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-resume li{
    padding: 0 12px;
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-resume li:first-child{
    padding-left: 0;
}

.nav-resume li:not(:last-child)::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: #333;
    top: 0;
    right: -1px;
}

.nav-resume li span{
    font-size: 20px;
    color: #FFF;
    margin-right: 2px;
}

.nav-resume li img{
    display: block;
    height: 16px;
    width: auto;
    transform: translateY(-1px);
}

.nav-main li svg{
    height: 16px;
    width: auto;
    transform: translateY(-2px);
}

.nav-main li svg path{
    fill: #97A800;
}